@font-face {
  font-family: 'Gotham Pro';
  src: url('GothamPro/GothamPro-Medium.woff') format("woff"),
    url('GothamPro/GothamPro-Medium.woff2') format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('GothamPro/GothamPro-Bold.woff') format("woff"),
    url('GothamPro-Bold.woff2') format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Gotham Pro';
  src:
    url('GothamPro/GothamPro-Light.woff') format("woff"),
    url('GothamPro-Light.woff2') format("woff2");
  font-style: normal;
  font-weight: 300;
}